<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

  <!-- Define your beans here -->
  <beans>
    <!-- load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:sport.properties" />

    <!-- Define the dependency -->
    <bean id="myFortuneService" class="io.playground.xml.HappyFortuneService"/>

    <bean id="myCoach" class="io.playground.xml.TrackCoach">
      <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach" class="io.playground.xml.CricketCoach">
      <!-- Setter injection -->
      <property name="fortuneService" ref="myFortuneService"/>

      <!-- Literal values injection -->
      <property name="email" value="${ipl.email}"/>
      <property name="team" value="${ipl.team}"/>
    </bean>
  </beans>

</beans>
